<h1>Pages#two</h1>
<p>Find me in app/views/pages/two.html.erb</p>
<h2> comando rake routes en la terminal</h2>
<img src="https://bn1305files.storage.live.com/y4mViCl493ItX0cWCJR2IcYtKWsdl7pIrWKtPdgyC5vuaiULKgXyj3bX8G23pfSpj1xyJNS13JbxXybdybUtN5_MAyz22oI4qbTu40ZuHVu14WgtdpTeshxKATM-HvUmrv5JehwVYPfYl9hffo6SLTa9NmvEcr7kjE2gPise-GbSjnfGWmRGYvtpCtNfbcSeCdB?width=1248&height=180&cropmode=none" width="1248" height="180" />
